# kJ/mol -> eV: 96.485307

atom{
  NAME=Sodium
  ID=Na
  Z=2
  MASS=22.98
  ABUND=1.7378e-06
  NLTE = 1
  ion{
    CHARGE=0
    EION=5.13861
    partition{
      TYPE=TRAV
      G0=2
      trav{
        XION=5.13861
        G2=2
        XL=7
        GAMMA=2.400, 4.552
        ALPHA=11.6348, 158.3593
        ASYMP=Fischel
      }
    }
# energy levels
    level{
      N=1
      EE=0      
      G=2
      J=1
      L=0
      GL=2.0
      bf{
        TYPE=PHY
        LAMBDA= 100
        VALUE=0.092E-18
      }
    }
    level{
      N=2
      EE=2.102297159       
      G=2
      J=1
      L=1
      GL=0.6667
      A=6.14e+07
      bf{
        TYPE=PHY
        LAMBDA= 100
        VALUE= 7.95E-18
      }
    }
    level{
      N=3
      EE=3.1913531       
      G=2
      J=0
      L=0
      GL=0.0
      A=1.0e+00, 8.8e+06
      bf{
        TYPE=PHY
        LAMBDA= 100
        VALUE= 0.54E-18
      }
    }
    level{
      N=4
      EE=3.6169770       
      G=4
      J=0
      L=2
      GL=0.0
      A=1.0e+00,4.29e+07,1.0e+00
      bf{
        TYPE=PHY
        LAMBDA= 100
        VALUE= 0.54E-18
      }
    }
  }
  ion{
    CHARGE=1
    EION=47.282
    partition{
      TYPE=CONST
      VALUE=1.0
    }
    level{
      N=1
      EE=0      
      G=1
      J=0
      L=0
      GL=0.0
      bf{
        TYPE=PHY
        LAMBDA= 100
        VALUE=1E-16
      }
    }
  }
  ion{
    CHARGE=2
    partition{
      TYPE=CONST
      VALUE=1.0
    }
  }
}
